@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --offwhite: 210 17% 98%;
  --black: 0 0% 9%;
  --white: 0 0% 100%;
  --blue: 212 60% 58%;
  --red: 355 49% 58%;
  --gray: 215 16% 47%;
  --green: 127 82% 65%;
  --brightred: 0 82% 65%;
  --lightblue: 212 100% 94%;
  --lightred: 356 41% 93%;

  /* Usage */
  --background: var(--offwhite);
  --foreground: var(--black);
  --components-bg: var(--white);
  --btn-bg: var(--black);
  --btn-fg: var(--white);
  --btn-fg-secondary: var(--black);
  --footer-bg: var(--black);
  --footer-fg: var(--white);
  --card-date: var(--gray);
  --card-create-primary: var(--blue);
  --card-create-secondary: var(--lightblue);
  --card-research-primary: var(--red);
  --card-research-secondary: var(--lightred);
  --btn-public: var(--green);
  --btn-private: var(--brightred);
}