@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --offwhite: 210 17% 98%;
  --black: 0 0% 9%;
  --white: 0 0% 100%;
  --blue: 212 60% 58%;
  --red: 355 49% 58%;
  --gray: 215 16% 47%;
  --green: 127 82% 65%;
  --brightred: 0 82% 65%;
  --lightblue: 212 100% 94%;
  --lightred: 356 41% 93%;
}

@layer base {
  :root {
    --background: var(--offwhite);
    --foreground: var(--black);

    --primary: var(--black);
    --primary-foreground: var(--white);

    --secondary: var(--white);
    --secondary-foreground: var(--black);

    --accent: var(--green);
    --accent-foreground: var(--black);

    --destructive: var(--brightred);
    --destructive-foreground: var(--black);

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    /* Components */
    --card: var(--white);
    --card-foreground: var(--black);
  }
  .dark {
    --background: var(--offwhite);
    --foreground: var(--black);

    --primary: var(--black);
    --primary-foreground: var(--white);

    --secondary: var(--white);
    --secondary-foreground: var(--black);

    --accent: var(--green);
    --accent-foreground: var(--black);

    --destructive: var(--brightred);
    --destructive-foreground: var(--black);

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    /* Components */
    --card: var(--white);
    --card-foreground: var(--black);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}